@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline;
  }
  a[href*="//"]
  {
    @apply decoration-dashed;
  }
  h1 {
    @apply text-3xl py-2;
  }
  h2 {
    @apply text-2xl py-2;
  }
  blockquote {
    @apply m-2 p-2 border-l-4;
  }
  p {
    @apply my-2;
  }
  ol,
  ul {
    @apply ml-8 m-4;
  }
  ol {
    @apply list-decimal;
  }
  li {
    @apply list-disc;
  }
  ul.links {
    @apply m-0;
  }
  .links li {
    @apply list-none text-sm;
  }
  .links li.in {
    @apply text-slate-500;
  }
  .links li.has {
    @apply text-slate-300;
  }
  .links li a {
    @apply block;
  }
  .links li a:hover {
    @apply bg-slate-100;
  }
  code {
    @apply font-mono bg-slate-200 px-0.5 text-sm;
  }
  table {
    @apply table-auto;
  }
  tr {
    @apply border-y odd:bg-white even:bg-gray-50;
  }
  td,
  th {
    @apply border-x py-2 px-4;
  }
  footer {
    @apply text-slate-300 text-sm text-right;
  }
  line.link {
    @apply stroke-slate-200;
  }
}

div.container-directive {
  border: 1px solid #000;
  border-left: 4px solid #000;
  padding-left: 1em;
}

text.label {
  font-size: 1.5em;
  fill: #000;
}
text.depth-3 {
  font-size: 0.5em;
  fill: #aaa;
}
text.depth-2 {
  font-size: 1em;
}
text.depth-1 {
  font-size: 2em;
}
text.depth-null {
  fill: #f00;
}
text.depth-Infinity {
  fill: #f00;
}

text.depth-0 {
  font-size: 3em;
}
rect {
  fill: none;
  stroke: #000;
}
.wanted .node {
  stroke: #000;
  fill: #fff;
}
.node {
  fill: #000;
  fill-opacity: 0.8;
}
.fixed .node {
  stroke: #000;
  fill: #ff0080;
}
