@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container h1 > a,
  .container h2 > a,
  .container h3 > a,
  .container h4 > a,
  .container h5 > a,
  .container h6 > a {
    @apply no-underline;
  }
  html {
    @apply font-serif;
  }
  main {
    @apply flex justify-center;
  }
  .container a {
    @apply underline underline-offset-2;
  }
  a[href*="//"]
  {
    @apply decoration-dashed;
  }
  h1 {
    @apply text-4xl py-2 mx-4 mt-4 mb-8 text-center leading-5;
  }
  h2 {
    @apply text-2xl py-2;
  }
  h3 {
    @apply text-xl py-2;
  }
  blockquote {
    @apply m-2 p-2 border-l-4;
  }
  p {
    @apply my-2 text-lg;
  }
  ol,
  ul {
    @apply ml-8 m-4;
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul.links {
    @apply m-0;
  }
  @media screen and (min-width: 1000px) {
    ul.links {
      position: absolute;
      top: 0;
      right: 0;
      margin: 2em 4em 0em 0em;
    }
  }
  .links li {
    @apply list-none text-sm;
  }
  .links li.in {
    @apply text-slate-500;
  }
  .links li.has {
    @apply text-slate-300;
  }
  .links li a {
    @apply block;
  }
  .links li a:hover {
    @apply bg-slate-100;
  }
  code {
    @apply font-mono bg-slate-200 px-0.5 text-sm whitespace-pre-wrap;
  }
  table {
    @apply table-auto;
  }
  tr {
    @apply border-y odd:bg-white even:bg-gray-50;
  }
  td,
  th {
    @apply border-x py-2 px-4;
  }
  footer {
    @apply text-slate-300 text-sm text-right;
  }
  line.link {
    @apply stroke-slate-400;
  }
  line.link.child {
    stroke-dasharray: 2, 2;
  }
  line.link.natural {
    @apply stroke-red-200;
    stroke-dasharray: 10, 10;
  }
  line.link.naturalFrom {
    @apply stroke-red-100;
    stroke-dasharray: 20, 20;
  }
  line.link.from {
    @apply stroke-blue-200;
    stroke-dasharray: 5, 5;
  }
}

line.active {
  stroke-width: 3;
  transition: stroke-width 0s;
}

line {
  transition: stroke-width 2s;
}

div.container-directive {
  border: 1px solid #000;
  border-left: 4px solid #000;
  padding-left: 1em;
  margin-bottom: 1em;
}
g a text {
  transition: font-size 4s ease-in;
}

g.hideLabel:not(.active) a text {
  font-size: 0em;
}

g.active a text {
  transition: font-size 0s;
  font-size: 3.5em;
}

text.label {
  font-size: 1.5em;
  fill: #000;
}
.depth-2 text.label {
  fill: #666;
}
.depth-3 text.label {
  fill: #888;
}

text.context-label {
  font-size: 0.8em;
  opacity: 0.4;
}

g.depth-0 {
  z-index: 100;
}
g.depth-1 {
  z-index: 90;
}
g.depth-2 {
  z-index: 80;
}

.depth-0 text {
  font-size: 4em;
}
.depth-1 text {
  font-size: 3em;
}
.depth-2 text {
  font-size: 1em;
}
.depth-3 text {
  font-size: 0.5em;
  fill: #aaa;
}
.depth-null text {
  fill: #f00;
}
.depth-Infinity text {
  fill: #f00;
}

line {
  stroke-width: 1;
  z-index: 10;
}
line.depth-0 {
  stroke-width: 5;
}
line.depth-1 {
  stroke-width: 2;
}

rect {
  fill: none;
  stroke: #000;
}
.wanted .node {
  stroke: #000;
  fill: #fff;
}
.node {
  fill: #555;
}
.fixed .node {
  stroke: #000;
  fill: #ff0080;
  fill-opacity: 1;
}
