@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline;
  }
  h1 {
    @apply text-3xl py-2;
  }
  h2 {
    @apply text-2xl py-2;
  }
  blockquote {
    @apply m-2 p-2 border-l-4;
  }
  ol, ul {
    @apply ml-8 m-4;
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }
}
