name: build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18.
      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 7.3.0
      - name: install and lint
        run: |
          pnpm install
          pnpm lint
      - name: unit test
        run: |
          pnpm test
      - name: build
        run: |
          pnpm build:prepare
          pnpm build
  end-to-end:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18.
      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 7.3.0
      - name: install
        run: |
          pnpm install
      - name: e2e test
        run: |
          pnpm build:prepare
          pnpm test:build
          pnpm test:e2e
      - name: cucumber
        run: |
          pnpm test:e2e:cucumber:dev
