name: build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.
      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: next
      - name: Install ripgrep
        run: apt-get install ripgrep
      - name: pnpm install and lint
        run: |
          pnpm install
          pnpm lint
      - name: pnpm e2e test
        run: |
          pnpm test:build
          pnpm test:e2e
      - name: pnpm build
        run: |
          pnpm prebuild
          pnpm build
